/* You can add global styles to this file, and also import other style files */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  font-family: inherit;
  color: inherit;
  margin: 0;
  font-weight: normal;
}
div{
  float: left;
}
.main{
  height: 100%;
  width: 100%;
}
.clr1{
  color: #fff;
}
.pointer{
  cursor: pointer;
}
.text-ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-l-20{
  margin-left: 20px;
}


/*Ankita's code*/
.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
