<div class="main-container">
    <div class="header-wrapper details-header d-flex justify-content-between align-items-center">
      <span class="extractor-name">ExtractorName</span>
      <span class="input-url">Input Url</span>
      <span  class="d-flex">
        <button class="btn btn-primary m-l-20">save</button>
        <button class="btn btn-primary m-l-20">close</button>
      </span>
    </div>
  <div class="row content-wrapper">
    <div class="col-md-7 webpage-wrapper">
      <app-webpage></app-webpage>
    </div>
    <div class="col-md-5 editor-wrapper">
      <app-editor></app-editor>
    </div>
  </div>
</div>