*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.header-wrapper {
  background-color: antiquewhite;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  height: calc(100vh - 40px);
  background-color: aqua;
  display: flex;
}

.webpage-wrapper {
  width: 70%;
}

.editor {
  width: 30%;
  background-color: red;
}

.input-url {}

button {
  margin: 5px;
}