<div class="main-container">
  <div class="header-wrapper">
    ExtractorName
    <span class="input-url">Input Url</span>
    <span>
      <button class="btn btn-primary">save</button>
      <button class="btn btn-primary">close</button>
    </span>
  </div>
  <div class="content-wrapper">
    <div class="webpage-wrapper">
      webpage
    </div>
    <div class="editor">
      <form>
        <div class="form-group">
          <label for="inputVariable">Input Variables</label>
          <input type="text" class="form-control" id="inputVariable" aria-describedby="inputSchemaHelp" placeholder="{key_0 : value_0, key_1 : value_1}">
          <small id="inputSchemaHelp" class="form-text text-muted">Enter input variables in json format</small>
        </div>
        <div class="form-group">
          <label for="outputVariable">Output Schema</label>
          <input type="text" class="form-control" id="outputVariable" placeholder="{ column_name: {regex: value, selector: value} }">
        </div>
        <div class="form-group">
          <label class="form-check-label" for="codeSnippet">Code Snippet</label>
          <textarea name="" id="codeSnippet" cols="32" rows="10" class="form-text text-muted"></textarea>
        </div>
      </form>
      
    </div>
  </div>
</div>